<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form th:action="@{/admin/index}" th:method="PATCH" th:object="${userEdit}">
    <label for="id">ID - </label>
    <input type="text" th:field="*{id}" id="id" readonly/>
    <br>
    <br>
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br>
    <br>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <br>
    <input type="submit" value="Confirm edit">
</form>
<br>
<a href="/admin/index">Back</a>
<br>
<br>
<a href="http://localhost:8080">Back to main page</a>
<br>
<br>
<a href="/user">To user page</a>
<br>
<br>
<a href="/logout">Logout</a>
</body>
</html>
