<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body {
            background-color: #f5f5f5;

        }

        .header {
            position: absolute;
            width: 100%;
            height: 50px;
            left: 0px;
            top: 0px;

            background: #2f2f2f;
        }

        .left-side {
            position: absolute;
            width: 201px;
            height: 92%;
            left: 0px;
            top: 50px;

            background: #ffffff;
        }

        .table-space {
            position: absolute;
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 1%;
            width: 88%;
            height: 92%;
            left: 201px;
            top: 70px;
        }

        .form-create-user {
            font-weight: bold;
            text-align: center;
        }

        .form-create-user input {
            margin-left: 38%;
            width: 25%;
        }

        .form-create-user select {
            width: 25%;
            height: auto;
            margin-left: 1%;
        }

        .form-create-user .btn-success {
            margin: 0;
            width: auto;
        }

        .form-edit-user .modal {
            font-weight: bold;
            text-align: center;
        }

        .form-edit-user .modal .row input {
            margin-left: 23%;
            width: 55%;
        }

        .form-edit-user .modal select {
            width: 25%;
            height: auto;
            margin-left: 1%;
        }

        .white-back {
            background: white;
            padding-bottom: 1%;
            padding-top: 2%;
        }

        .white-back .form-create-user {
            margin-top: -1%;
        }

        hr {
            height: 2px;
        }

        .header a {
            font-size: 30px;
        }

        .left-side a {
            font-size: 25px;
        }
    </style>

    <title>Admin panel</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="header">
            <div class="col-md">
                <a style="color: white; font-weight: bold;" th:text="${userInfo.email}"></a>
                <a style="color: white;" th:if="${(#strings.substring(userInfo.roles, 0).replaceFirst('ROLE_', '') == #strings.substring(userInfo.roles, 0).replace('ROLE_', ''))
                  && #strings.contains(userInfo.roles, 'ADMIN')}"> with roles: ADMIN</a>
                <a style="color: white;" th:if="${(#strings.substring(userInfo.roles, 0).replaceFirst('ROLE_', '') == #strings.substring(userInfo.roles, 0).replace('ROLE_', ''))
                  && #strings.contains(userInfo.roles, 'USER')}"> with roles: USER</a>
                <a style="color: white;"
                   th:if="${#strings.substring(userInfo.roles, 0).replaceFirst('ROLE_', '').contains('ROLE_')}"> with
                    roles: ADMIN USER</a>
                <form name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
                    <input type="submit" value="Logout"/>
                </form>
                <a style="color: lightgray; position: absolute; right: 1%" href="javascript: logoutForm.submit();">Logout</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="left-side">
            <div class="row">
                <div class="col-md">
                    <div class="nav flex-column nav-pills me-3">
                        <br>
                        <a class="nav-link active" href="/ara">Admin</a>
                        <a class="nav-link" href="/user">User</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid table-space">
    <div class="row">
        <div class="col-md"><h1>Admin panel</h1></div>
    </div>
    <div class="row">
        <div class="col-md">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="table-tab" data-toggle="tab" href="#table" role="tab"
                       aria-controls="table" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="create-tab" data-toggle="tab" href="#create" role="tab"
                       aria-controls="create" aria-selected="false">New user</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="table-tab">
                    <h3>All users</h3>
                    <div class="container-fluid white-back">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="table : ${messages}">
                                <th scope="row" th:text="${table.id}"></th>
                                <td th:text="${table.username}"></td>
                                <td th:text="${table.lastName}"></td>
                                <td th:text="${table.age}"></td>
                                <td th:text="${table.email}"></td>
                                <td th:if="${#strings.substring(table.roles, 0).replaceFirst('ROLE_', '').contains('ROLE_')}"
                                    th:text="${'ADMIN USER'}">
                                </td>
                                <td th:if="${(#strings.substring(table.roles, 0).replaceFirst('ROLE_', '') == #strings.substring(table.roles, 0).replace('ROLE_', ''))
                  && #strings.contains(table.roles, 'ADMIN')}"
                                    th:text="${'ADMIN'}">
                                </td>
                                <td th:if="${(#strings.substring(table.roles, 0).replaceFirst('ROLE_', '') == #strings.substring(table.roles, 0).replace('ROLE_', ''))
                  && #strings.contains(table.roles, 'USER')}"
                                    th:text="${'USER'}">
                                </td>
                                <td>
                                    <form class="form-edit-user" th:action="@{/ara/{id}(id=${table.id})}"
                                          th:method="PATCH">

                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                th:data-target="${'#exampleModal' + table.id}">
                                            Edit
                                        </button>

                                        <div class="modal fade" th:id="${'exampleModal' + table.id}" tabindex="-1"
                                             role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-sm-2 col-form-label">ID</label><br>
                                                                <input name="id" type="text" class="form-control"
                                                                       th:value="${table.id}" placeholder="ID" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-sm-2 col-form-label">First
                                                                    name</label><br>
                                                                <input name="username" type="text" class="form-control"
                                                                       th:value="${table.username}"
                                                                       placeholder="First name" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-sm-2 col-form-label">Last name</label><br>
                                                                <input name="lastName" type="text" class="form-control"
                                                                       th:value="${table.lastName}"
                                                                       placeholder="Last name" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-sm-2 col-form-label">Age</label><br>
                                                                <input name="age" type="number" class="form-control"
                                                                       th:value="${table.age}" placeholder="Age"
                                                                       required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-sm-2 col-form-label">Email</label><br>
                                                                <input name="email" type="email" class="form-control"
                                                                       th:value="${table.email}" placeholder="Email"
                                                                       required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-sm-2 col-form-label">Password</label><br>
                                                                <input name="password" type="password"
                                                                       class="form-control" th:value="${table.password}"
                                                                       placeholder="Password" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-sm-2 col-form-label">Role</label><br>
                                                                <p>
                                                                    <select name="roles" th:value="${table.roles}"
                                                                            size="2"
                                                                            multiple required
                                                                            class="form-select mx-auto"
                                                                            aria-label="Default select"
                                                                            style="width: 250px;">
                                                                        <th:block th:if="${table.roles.size() < 2}">
                                                                            <option value="2" selected
                                                                                    th:each="role : ${table.roles}"
                                                                                    th:if="${role=='ROLE_ADMIN'}">
                                                                                ADMIN
                                                                            </option>
                                                                            <option value="2"
                                                                                    th:each="role : ${table.roles}"
                                                                                    th:if="${role!='ROLE_ADMIN'}">
                                                                                ADMIN
                                                                            </option>
                                                                            <option value="1" selected
                                                                                    th:each="role : ${table.roles}"
                                                                                    th:if="${role=='ROLE_USER'}">
                                                                                USER
                                                                            </option>
                                                                            <option value="1"
                                                                                    th:each="role : ${table.roles}"
                                                                                    th:if="${role!='ROLE_USER'}">
                                                                                USER
                                                                            </option>
                                                                        </th:block>
                                                                        <th:block th:if="${table.roles.size()==2}">
                                                                            <option value="2" selected>ADMIN
                                                                            </option>
                                                                            <option value="1" selected>USER</option>
                                                                        </th:block>
                                                                    </select>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <input type="submit" class="btn btn-primary" value="Edit user">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    <form class="form-edit-user" th:action="@{/ara/{id}(id=${table.id})}"
                                          th:method="DELETE">
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                th:data-target="${'#deleteModal' + table.id}">
                                            Delete
                                        </button>

                                        <div class="modal fade" th:id="${'deleteModal' + table.id}" tabindex="-1"
                                             role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Edit user</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-sm-2 col-form-label">ID</label><br>
                                                                <input name="id" type="text" class="form-control"
                                                                       th:value="${table.id}" placeholder="ID" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-sm-2 col-form-label">First
                                                                    name</label><br>
                                                                <input name="username" type="text" class="form-control"
                                                                       th:value="${table.username}"
                                                                       placeholder="First name" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-sm-2 col-form-label">Last name</label><br>
                                                                <input name="lastName" type="text" class="form-control"
                                                                       th:value="${table.lastName}"
                                                                       placeholder="Last name" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-sm-2 col-form-label">Age</label><br>
                                                                <input name="age" type="number" class="form-control"
                                                                       th:value="${table.age}" placeholder="Age"
                                                                       readonly>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-sm-2 col-form-label">Email</label><br>
                                                                <input name="email" type="email" class="form-control"
                                                                       th:value="${table.email}" placeholder="Email"
                                                                       readonly>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-sm-2 col-form-label">Password</label><br>
                                                                <input name="password" type="password"
                                                                       class="form-control" th:value="${table.password}"
                                                                       placeholder="Password" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-sm-2 col-form-label">Role</label><br>
                                                                <p>
                                                                    <select name="roles" th:value="${table.roles}"
                                                                            size="2"
                                                                            multiple
                                                                            class="form-select mx-auto"
                                                                            aria-label="Default select"
                                                                            style="width: 250px;" disabled>
                                                                        <th:block th:if="${table.roles.size() < 2}">
                                                                            <option value="2" selected
                                                                                    th:each="role : ${table.roles}"
                                                                                    th:if="${role=='ROLE_ADMIN'}">
                                                                                ADMIN
                                                                            </option>
                                                                            <option value="2"
                                                                                    th:each="role : ${table.roles}"
                                                                                    th:if="${role!='ROLE_ADMIN'}">
                                                                                ADMIN
                                                                            </option>
                                                                            <option value="1" selected
                                                                                    th:each="role : ${table.roles}"
                                                                                    th:if="${role=='ROLE_USER'}">
                                                                                USER
                                                                            </option>
                                                                            <option value="1"
                                                                                    th:each="role : ${table.roles}"
                                                                                    th:if="${role!='ROLE_USER'}">
                                                                                USER
                                                                            </option>
                                                                        </th:block>
                                                                        <th:block th:if="${table.roles.size()==2}">
                                                                            <option value="2" selected>ADMIN
                                                                            </option>
                                                                            <option value="1" selected>USER</option>
                                                                        </th:block>
                                                                    </select>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <input type="submit" class="btn btn-danger" value="Delete">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create-tab">
                    <h3>Add new user</h3>
                    <div class="container-fluid white-back">
                        <form class="form-create-user" th:action="@{/ara}" th:method="POST" th:object="${user}">
                            <div class="row">
                                <div class="col-md">
                                    <label for="firstName" class="col-sm-2 col-form-label">First name</label><br>
                                    <input type="text" class="form-control" id="firstName" th:field="*{username}"
                                           placeholder="First name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <label for="lastName" class="col-sm-2 col-form-label">Last name</label><br>
                                    <input type="text" class="form-control" id="lastName" th:field="*{lastName}"
                                           placeholder="Last name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <label for="age" class="col-sm-2 col-form-label">Age</label><br>
                                    <input type="number" class="form-control" id="age" th:field="*{age}"
                                           placeholder="Age">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <label for="email" class="col-sm-2 col-form-label">Email</label><br>
                                    <input type="email" class="form-control" id="email" th:field="*{email}"
                                           placeholder="Email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <label for="password" class="col-sm-2 col-form-label">Password</label><br>
                                    <input type="password" class="form-control" id="password" th:field="*{password}"
                                           placeholder="Password">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <label for="role" class="col-sm-2 col-form-label">Role</label><br>
                                    <p>
                                        <select id="role" size="2" th:field="*{roles}">
                                            <option value="2">ADMIN</option>
                                            <option value="1" selected="selected">USER</option>
                                        </select>
                                    </p>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-success" value="Add new user">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>